{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}
    {#Id: {{ cart.getId }} <br/>#}
    Total price: {{ cart.getTotalPrice }} <br/>

    Total Net : {% if cart.getTaxedPrice %}{{ cart.getTaxedPrice.getTotalNet }}{% endif %} <br/>
    Total Gross : {% if cart.getTaxedPrice %}{{ cart.getTaxedPrice.getTotalGross }}{% endif %} <br/>
<hr/>
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Delete</th>
        </tr>
        {% for lineItem in cart.getLineItems %}
            <tr>
                <th>{{ lineItem.getName }}</th>
                <th>
                    <form action="{{ path('_ctp_example_change_lineItem') }}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="lineItemId" value="{{ lineItem.getId }}">
                            <select name="quantity">
                                {% for i in 1..10 %}
                                    <option value="{{ i }}" {% if lineItem.getQuantity == i %} selected="selected" {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-default" type="submit">Change</button>
                        </div>
                    </form>
                </th>
                <th>{{ lineItem.getPrice }}</th>
                <th>{{ lineItem.getTotalPrice }}</th>

                <th>
                    <form action="{{ path('_ctp_example_delete_lineItem') }}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="lineItemId" value="{{ lineItem.getId }}">
                            <button class="btn btn-default" type="submit">Delete</button>
                        </div>
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>

    {% if cart.getLineItems is not empty %}
        <a href="{{ path('_ctp_example_checkout_signin') }}"><button class="btn btn-default" type="submit">Checkout</button> </a>
    {% endif %}

{% endblock %}

