{% extends "CtpBundle::layout.html.twig" %}

{% block container %}
    <div class="search">
    {{ form_start(form) }}
    {{ form_widget(form, { 'attr': {'class': 'search'} }) }}
    {{ form_end(form) }}
    </div>
    <div class="row">
        {% for product in products %}
            <div class="col-md-6">
                <a href="{{ path('_ctp_example_product', {slug: product.getSlug}) }}">
                    <h3>{{ product.getName }}</h3>
                    <img src="{{ product.getMasterVariant.getImages.current.getSmall }}" width="100">
                    <p>{{ product.getDescription }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
