{% extends "CtpBundle::layout.html.twig" %}

{% block container %}
    <h3>{{ product.getName }}</h3>
    <img src="{{ product.getMasterVariant.getImages.current.getSmall }}" width="100">
    <p>{{ product.getDescription }}</p>
    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}



