<div class="aspect-ratio aspect-ratio--4to3">
  <picture>
    <source srcset="{{ 'bannerBottomRight2.imageLarge' | trans([], 'cms') }}" media="(min-width: 1200px)">
    <source srcset="{{ 'bannerBottomRight2.imageMedium' | trans([], 'cms') }}" media="(min-width: 768px)">
    <img src="{{ 'bannerBottomRight2.imageSmall' | trans([], 'cms') }}" class="img-responsive">
  </picture>
</div>

<div class="banner-text">
  <h4 class="banner-title">{{ 'bannerBottomRight2.title' | trans([], 'cms') }}</h4>
  <p class="banner-paragraph">{{ 'bannerBottomRight2.subtitle' | trans([], 'cms') }}</p>
  <a href="{{ 'bannerBottomRight2.linkHref' | trans([], 'cms') }}" class="btn banner-btn">
    {{ 'bannerBottomRight2.linkText' | trans([], 'cms') }}
  </a>
</div>
