<div class="col-sm-{{ columnWidth }}">
  <div class="input-block">
    <span class="text-uppercase">{% if required %}<abbr title="{{ 'form.required'|trans([], 'main') }}">*</abbr>{% endif %}</span><br>
    <input id="input-{{ name }}" class="checkout-input-field" type="text" name="{{ settings.formFieldName }}{% if not settings.formFieldName %}{{ name }}{% endif %}" value="{{ value }}">
    {% if additionalInfoKey %}
    <span class="tel-email-text"></span>
    {% endif %}
  </div>
</div>
