{% block cart %}

    <table>
        <tr>
            <th class="table-40">Product</th>
            <th class="table-20">Quantity</th>
            <th class="table-20">Price</th>
            <th class="table-20">Total Price</th>
        </tr>
        {% for lineItem in cart.getLineItems %}
            <tr>
                <td>{{ lineItem.getName }}</td>
                <td>{{ lineItem.getQuantity }}</td>
                <td>{{ lineItem.getPrice }}</td>
                <td>{{ lineItem.getTotalPrice }}</td>
            </tr>
        {% endfor %}
    </table>
    <br />
    <hr/>
    Total price: {{ cart.getTotalPrice }} <br/>
    Total Net : {% if cart.getTaxedPrice %}{{ cart.getTaxedPrice.getTotalNet }}{% endif %} <br/>
    Total Gross : {% if cart.getTaxedPrice %}{{ cart.getTaxedPrice.getTotalGross }}{% endif %} <br/>
    <br />
    <form>
        <input type="button" value="Checkout">
    </form>

{% endblock %}