<form id="form-edit-shipping" method="post" action="{{ root.meta._links.checkoutShippingSubmit.href }}">
  <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
  <div class="shipping-method input-block" id="shipping-methods-setting">
    <div class="text-uppercase shipping-method-title">{{ 'shippingForm'|trans([], 'checkout') }}</div>
      <div class="row">
          {% include '@Example/partials/form/global-messages.html.twig' with {'messages':content.shippingForm.messages} %}
          {% include '@Example/partials/form/global-errors.html.twig' with {'errors':content.shippingForm.errors} %}
      </div>
    {% for list_i in content.shippingFormSettings.shippingMethod.list %}
      <div class="shipping-method-option">
        <label for="shipping-method-{{ loop.index0 }}">
          <span class="shipping-method-span">
            <input id="shipping-method-{{ loop.index0 }}" class="shipping-method-radio" type="radio" name="{{ list_i.shippingFormSettings.shippingMethods.formFieldName }}
              {% if not list_i.shippingFormSettings.shippingMethods.formFieldName %}shippingMethodId{% endif %}" value="{{ list_i.value }}" {% if list_i.selected %}checked{% endif %}" value="{{ list_i.value }}" {% if list_i.selected %}checked{% endif %}
                {# if it is only one element #}
              {% if not list_i.selected %}{% if list_i.first %}{% if list_i.last %}checked{% endif %}{% endif %}{% endif %}>
              {{ list_i.label }}
          </span>
          <span class="text-uppercase delivery-time">{{ list_i.description }}</span>
        </label>
          <span class="pull-right">{{ list_i.price }}</span>
      </div>
    {% endfor %}
  </div>
  {% include '@Example/partials/checkout/continue-checkout-button.html.twig' %}
</form>
