{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}

    <div class="row">
        <ul class="list-inline categories-menu">
            {% for category in categories %}
                <li class="category-item"><a href="{{ path('_ctp_example_products_of_category', {categoryId: category.id}) }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

        {{ form_start(form) }}
        {{ form_widget(form, { 'attr': {'class': 'search'} }) }}
        {{ form_end(form) }}

    <div class="search-container">
            <div id="search-results" class="row"> </div>
            <div class="loading">
                <div class="loader"></div>
            </div>
    </div>

    <div class="row" id="index-results">
        {% for product in products %}
            <div class="col-md-6">
                <a href="{{ path('_ctp_example_product', {slug: product.slug}) }}">
                    <h3>{{ product.name }}</h3>
                    <img src="{{ product.masterVariant.images.current.url | default('') }}" width="100">
                    <p>{{ product.description }}</p>
                    <p>{{ product.masterVariant.price.value }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
