{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}
    <h3>{{ product.getName }}</h3>
    <img src="{{ product.getMasterVariant.getImages.current.getUrl | default('')}}" width="100">
    <p>{{ product.getDescription }}</p>

    <p>{{ product.masterVariant.prices.current.value }}</p>

    <div class="row">

        <div class="col-md-6">
            {{ form_start(form) }}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>

        <div class="col-md-6">
            {{ form_start(shoppingListForm) }}
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(shoppingListForm) }}
            {{ form_end(shoppingListForm) }}
        </div>

    </div>


    <!-- reviews -->
    {{ render(controller(
        'ExampleBundle:Review:showReviewsForProduct', { 'productId' : product.getId }
    )) }}
{% endblock %}



