{% extends "ExampleBundle::layout.html.twig" %}

{% block container %}
    <h3>{{ product.getName }}</h3>
    <img src="{{ product.getMasterVariant.getImages.current.getUrl | default('')}}" width="100">
    <p>{{ product.getDescription }}</p>
    <p>{{ product.getMasterVariant.getPrice.getValue }}</p>
    {{ form_start(form) }}
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}



