{% extends "@Example/layout.html.twig" %}

{% block container %}
    <h3>{{ product.getName }}</h3>
    <img src="{{ product.getMasterVariant.getImages.current.getUrl | default('')}}" width="100">
    <p>{{ product.getDescription }}</p>

    <p>{{ product.masterVariant.prices.current.value }}</p>

    <div class="row">

        <div class="col-md-6">
            {{ form_start(addToCartForm) }}
            {% form_theme addToCartForm 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(addToCartForm) }}
            {{ form_end(addToCartForm) }}
        </div>

        <div class="col-md-6">
            {{ form_start(addToShoppingListForm) }}
            {% form_theme addToShoppingListForm 'bootstrap_3_layout.html.twig' %}
            {{ form_widget(addToShoppingListForm) }}
            {{ form_end(addToShoppingListForm) }}
        </div>

    </div>


    <!-- reviews -->
    {{ render(controller(
        'ExampleBundle:Review:showReviewsForProduct', { 'productId' : product.getId }
    )) }}
{% endblock %}



