{% block head %}
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="" />
            <title>{% block title %}  Awesome webapp by Commercetools {% endblock %}</title>
        </head>
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{{ path('_ctp_example') }}">Home</a> </li>
        <li><a href="{{ path('_ctp_example_cart') }}">Cart</a> </li>
        {% if app.user %}
            <li><a href="{{ path('_ctp_example_user_details') }}">User</a> </li>
            <li><a href="{{ path('_ctp_example_user_address_book') }}">Adressen</a> </li>
            <li><a href="{{ path('logout') }}">logout</a> </li>
        {% endif %}
        {% if not app.user %}
            <li><a href="{{ path('login') }}">login</a> </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <body>
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
    </body>
{% endblock %}


