<form id="form-add-to-cart{{ index }}" name="add-to-cart" method="post" action="{{ root.meta._links.addToCart.href }}">
  <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
  <input type="hidden" name="productId" value="{{ product.productId }}">
  <input type="hidden" name="variantId" value="{{ product.variantId }}">
  <input type="hidden" name="productSku" value="{{ product.variant.sku }}">
  <input type="hidden" name="productSlug" value="{{ product.slug }}">

  <div class="row select-row">
    <ul class="list-inline">
      {% for attributes_i in product.attributes %}
        {% include '@Example/partials/catalog/product-attribute.html.twig' with {'attribute':attributes_i, 'variants':product.variants, 'identifiers':product.variantIdentifiers} %}
      {% endfor %}
      <li class="size-guide-li">
        {% include '@Example/partials/catalog/size-guide.html.twig' %}
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="product-actions-list list-inline">
      <li class="bag-items-li">
        <select value="" name="quantity" class="bag-items" required>
          {% for bagQuantityOptions_i in root.meta.bagQuantityOptions %}
          <option value="{{ bagQuantityOptions_i }}">{{ bagQuantityOptions_i }}</option>
          {% endfor %}
        </select>
      </li>
      <li>
        <button type="submit" class="add-to-bag-btn text-center">
          <img class="bag-thumb" src="{{ asset('bundles/example/img/hand-bag-2-black.png') }}" alt="{{ 'cart.add'|trans([], 'catalog') }}">
          {{ 'cart.add'|trans([], 'catalog') }}
        </button>
      </li>
    </ul>
  </div>
</form>
