<div class="login-box-wrapper">
  <div class="clearfix">
    <div class="pull-left">
      <div class="login-box-title">{{ 'loginBox.title'|trans([], 'my-account-login') }}</div>
    </div>
    <div class="pull-right">
      <div class="login-box-required">{{ 'loginBox.required'|trans([], 'my-account-login') }}*</div>
    </div>
  </div>
  <hr class="login-box-hr">
  <div class="login-box-description">{{ 'loginBox.description'|trans([], 'my-account-login') }}</div>
  <div class="login-box-input-wrapper">
    <form id="form-sign-in" method="POST" action="{{ path('login_check') }}">
      <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
      <div class="row">
        {% include '@Example/partials/form/global-messages.html.twig' with {'messages':form.messages} %}
{#        {% include '@Example/partials/form/global-errors.html.twig' with {'errors':form.errors} %}#}
      </div>
      <div class="login-box-input">
        <span>{{ 'loginBox.email'|trans([], 'my-account-login') }}*</span><br>
        <input type="email" name="_username" value="{{ form.username }}">
      </div>
      <div class="login-box-input">
        <span>{{ 'loginBox.password'|trans([], 'my-account-login') }}*</span><br>
        <input type="password" name="_password">
      </div>
      <div class="clearfix">
        <div class="pull-left">
          <div class="login-box-remember-me">
            <input id="form-login-remember-me" type="checkbox" name="rememberMe" value="true" {% if form.rememberMe %}checked{% endif %}>
            <label for="form-login-remember-me">{{ 'loginBox.rememberMe'|trans([], 'my-account-login') }}</label>
          </div>
        </div>
        <div class="pull-right">
          <div class="login-box-forgot-password">
            <a href="{{ root.meta._links.recoveryEmail.href }}">{{ 'loginBox.forgotPassword'|trans([], 'my-account-login') }}</a>
          </div>
        </div>
      </div>
      <button class="login-box-sign-in-btn">{{ 'loginBox.signIn'|trans([], 'my-account-login') }}</button>
    </form>
  </div>
</div>
