<div>{{ addressInfo.address.title }} {{ addressInfo.address.firstName }} {{ addressInfo.address.lastName }}</div>
<div>{{ addressInfo.address.streetName }}</div>
<div>{{ addressInfo.address.additionalStreetInfo }}</div>
<div>{{ addressInfo.address.city }}</div>
<div>{{ addressInfo.address.postalCode }} {{ addressInfo.address.region }}</div>
<div>{{ addressInfo.address.country }}</div>
<div class="address-book-edit-delete">
    <div>
        <a href="{{ addressInfo.addressEditUrl }}">
            <img src="{{ asset('bundles/example/img/edit-1.png') }}" alt="edit icon">
            {{ 'addressBook.buttons.edit'|trans([], 'my-account') }}
        </a>
    </div>
    <div>
        <form action="{{ addressInfo.addressDeleteUrl }}" method="POST">
            <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
            <button type="submit">
                <img src="{{ asset('bundles/example/img/delete-60px.png') }}" alt="delete icon">
                {{ 'addressBook.buttons.delete'|trans([], 'my-account') }}
            </button>
        </form>
    </div>
</div>
