<!-- start myaccount/my-account-sidebar.hbs -->
<div class="my-account-sidebar">
  <div {% if myPersonalDetailsTab %}id="my-account-mobile-content"{% endif %} class="my-account-sidebar-items {% if myPersonalDetailsTab %}active{% endif %}">
    <a href="{{ root.meta._links.myPersonalDetails.href }}">{{ 'myAccountSidebar.personalDetails'|trans([], 'my-account') }}</a>
  </div>
  <div {% if changeMyPasswordTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items {% if changeMyPasswordTab %}active{% endif %}">
    <a href="{{ root.meta._links.changePassword.href }}">{{ 'myAccountSidebar.changePassword'|trans([], 'my-account') }}</a>
  </div>
  <div {% if myAddressBookTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items {% if myAddressBookTab %}active{% endif %}">
    <a href="{{ root.meta._links.myAddressBook.href }}">{{ 'myAccountSidebar.addressBook'|trans([], 'my-account') }}</a>
  </div>
  <div {% if myPaymentDetailsTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items {% if myPaymentDetailsTab %}active{% endif %}">
    <a href="{{ root.meta._links.myPaymentDetails.href }}">{{ 'myAccountSidebar.paymentDetails'|trans([], 'my-account') }}</a>
  </div>
  <div {% if myOrdersTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items {% if myOrdersTab %}active{% endif %}">
    <a href="{{ root.meta._links.myOrders.href }}">{{ 'myAccountSidebar.myOrders'|trans([], 'my-account') }}</a>
  </div>
  <div {% if myReturnsAndExchangesTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items {% if myReturnsAndExchangesTab %}active{% endif %}">
    <a href="{{ root.meta._links.myReturnsAndExchanges.href }}">{{ 'myAccountSidebar.returnsExchange'|trans([], 'my-account') }}</a>
  </div>
  <div {% if myWishlistTab %}id="my-account-mobile-content"{% endif %}class="my-account-sidebar-items clearfix {% if myWishlistTab %}active{% endif %}">
    <a href="{{ root.meta._links.myWishlist.href }}">
      <span><img class="sidebar-wishlist-heart hidden-sm" src="{{ meta.assetsPath }}/img/heart-1.png" alt="heart icon"></span>{{ 'myAccountSidebar.wishlist'|trans([], 'my-account') }}<span class="sidebar-wishlist-quantity hidden-sm">{{ content.sidebarItemSix.wishlistItems }}</span>
    </a>
  </div>
  <div class="my-account-sidebar-items">
    <a href="{{ root.meta._links.logOut.href }}">{{ 'myAccountSidebar.signOut'|trans([], 'my-account') }}</a>
  </div>
</div>
<!-- end myaccount/my-account-sidebar.hbs -->
