{% if location %}
<div class="location-dropdown-xs">
  {% if location.language %}
  <form id="form-select-language-mobile" action="{{ root.meta._links.selectLanguage.href }}" method="POST">
    <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
    <ul>
      <li>
        <select name="language" id="language-select-mobile" class="select location-select">
          {% for language_i in location.language %}
          <option value="{{ language_i.value }}" {% if language_i.selected %} selected {% endif %}>{{ language_i.label }}</option>
          {% endfor %}
        </select>
      </li>
    </ul>
  </form>
  {% endif %}
  {% if location.country %}
  <form id="form-select-country-mobile" action="{{ root.meta._links.selectCountry.href }}" method="POST">
    <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
    <ul>
      <li>
        <select name="country" id="country-select-mobile" class="select location-select">
          {% for country_i in location.country %}
          <option value="{{ country_i.value }}" {% if country_i.selected %}selected{% endif %}>{{ country_i.label }}</option>
          {% endfor %}
        </select>
      </li>
    </ul>
  </form>
  {% endif %}
</div>
{% endif %}
