<div class="nav-minicart">
  <ul>
    {% for lineItem in miniCart.lineItems %}
    <li>
      <form action="{{ path('_ctp_example_delete_lineItem', {}, true) }}" method="post">
        <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
        <input type="hidden" name="lineItemId" value="{{ lineItem.id }}">
        <a class="img" href="{{ path('_ctp_example_product', {'slug': lineItem.productSlug}, true) }}"><img src="{{ lineItem.variant.images.current.url }}" alt="{{ lineItem.variant.name }}" /></a>
        <p class="product-title"><a href="{{ lineItem.variant.url }}">{{ lineItem.variant.name }}</a></p>
        <div class="details">
          <p class="product-quantity">{{ 'common.quantity'|trans({}, 'main') }}<span>{{ lineItem.quantity }}x</span></p>
          <p class="product-price">{{ 'common.price'|trans({}, 'main') }}<span>{{ lineItem.totalPrice }}</span></p>
            <button type="submit" id="minicart-delete-button-{{ loop.index0 }}" class="delete">
              <span>
                <img class="cart-action-icon" src="{{ asset('bundles/example/img/delete-1.png') }}" alt="{{ 'form.delete'|trans({}, 'main') }}">
              </span>
            </button>
        </div>
      </form>
    </li>
    {% endfor %}
  </ul>
  <div class="gradient"></div>
  <p class="total-price">{{ 'common.totalPrice'|trans([], 'main') }} {{ miniCart.totalPrice }}</p>
  <a href="{{ path('_ctp_example_cart', {}, true) }}" class="btn-grey">{{ 'header.viewBag'|trans([], 'main') }}</a>
  <a href="{{ path('_ctp_example_checkout_address', {}, true) }}" class="btn-yellow">{{ 'header.checkout'|trans([], 'main') }}</a>
</div>

