<div class="sub-footer">
    <div class="container">
        <div class="row text-uppercase">
            <div class="col-sm-12">
                <ul class="footer-title imprint-row">
                    <li class="hidden-xs">{{ 'footer.legalInfo'|trans([], 'main') }}</li>
                    <li><a href="{{ root.meta._links.imprint.href }}">{{ 'footer.imprint'|trans([], 'main') }}</a></li>
                    <li><a href="{{ root.meta._links.privacyPolicy.href }}">{{ 'footer.privacyPolicy'|trans([], 'main') }}</a></li>
                    <li><a href="{{ root.meta._links.termsOfUse.href }}">{{ 'footer.termsOfUse'|trans([], 'main') }}</a></li>
                    <li class="visible-xs">{{ 'footer.legalInfo'|trans([], 'main') }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>