{% block head %}
<!DOCTYPE html>
    <html>
        <head>
            <title>{% block title %}  Awesome webapp by Commercetools {% endblock %}</title>

            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('bundles/example/css/bootstrap.css') }}" />
                <link rel="stylesheet" href="{{ asset('bundles/example/css/style.css') }}" />
            {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('bundles/example/js/jquiry-2.3.3.js') }}"></script>
                <script src="{{ asset('bundles/example/js/index.js') }}"></script>
            {% endblock %}
        </head>
{% endblock %}

{% block menu %}
    <div class="menu">
       <a href="{{ path('_ctp_example') }}">
            <img class="menu-logo" src="{{ asset('bundles/example/img/CT-logo.svg') }}" alt="example"/>
       </a>
        <ul>
            <li><a href="{{ path('_ctp_example') }}">Home</a> </li>
            <li><a href="{{ path('_ctp_example_cart') }}">Cart ({{ app.session.get('cart.itemCount') }})</a> </li>
            <li><a href="{{ path('_ctp_example_shopping_list') }}">Lists</a> </li>
            {% if app.user %}
                <li><a href="{{ path('_ctp_example_user_details') }}">User</a> </li>
                <li><a href="{{ path('_ctp_example_user_address_book') }}">Adress</a> </li>
                <li><a href="{{ path('_ctp_example_orders_all') }}">Orders</a> </li>
                <li><a href="{{ path('logout') }}">logout</a> </li>
            {% endif %}
            {% if not app.user %}
                <li><a href="{{ path('login') }}">login</a> </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}

{% block body %}
    <body>
        <div class="content">
            {% block container %}
            {% endblock %}
        </div>
    </body>
{% endblock %}


