<!DOCTYPE html>
<html lang="en">

<head>
  {% include '@Example/partials/common/htmlhead.html.twig' %}
</head>

<body>
  <div class="darkbg hidden"></div>
  {% include '@Example/partials/common/header.html.twig' %}
  <div class="my-orders">
    <div class="container">
      {% include '@Example/partials/common/messages.html.twig' %}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{ 'myAccount.title'|trans([], 'my-account') }}</span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="my-orders-wrapper">
            <div class="row">
              <div class="col-sm-3">
                {% include '@Example/partials/myaccount/my-account-sidebar.html.twig' with {'myOrdersTab':true} %}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="my-orders-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="my-orders-title hidden-xs">
                        {{ 'myOrders.title'|trans([], 'my-account') }}
                      </div>
                    </div>
                  </div>
                  <div class="my-orders-table-wrapper">
                    <div class="row">
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          {{ 'myOrders.orderNumber'|trans([], 'my-account') }}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{ 'myOrders.creationDate'|trans([], 'my-account') }}
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          {{ 'myOrders.totalPrice'|trans([], 'my-account') }}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{ 'myOrders.paymentStatus'|trans([], 'my-account') }}
                        </div>
                      </div>
                      <div class="col-sm-2 hidden-xs">
                        <div class="my-orders-table-titles">
                          {{ 'myOrders.shippingStatus'|trans([], 'my-account') }}
                        </div>
                      </div>
                      <div class="col-sm-2 col-xs-4">
                        <div class="my-orders-table-titles">
                          &nbsp;
                        </div>
                      </div>
                    </div>
                  </div>
                  {% for order in orders %}
                    <div class="my-orders-table-order">
                      <div class="row">
                        {% if order is not empty %}


                          <div class="col-sm-2 col-xs-4">
                            <span>{{ order.orderNumber }}</span>
                          </div>
                          <div class="col-sm-2 hidden-xs">
                            <span>{{ order.getCreatedAt.getDateTime|date("m/d/Y H:i") }}</span>
                          </div>
                          <div class="col-sm-2 col-xs-4">
                            <span>{{ order.getTotalPrice }}</span>
                          </div>
                          <div class="col-sm-2 hidden-xs">
                            <span>{{ order.paymentStatus }}</span>
                          </div>
                          <div class="col-sm-2 hidden-xs">
                            <span>{{ order.shipping }}</span>
                          </div>
                          <div class="col-sm-2 col-xs-4 text-right">
                            <form id="form-view-my-order{{ loop.index0 }}" name="view-my-order" method="GET" action="{{ path('_ctp_example_order', {'orderId': order.id}, true) }}">
                              <button type="submit" class="my-orders-view-order-btn">{{ 'myOrders.view'|trans({}, 'my-account') }}</button>
                            </form>
                          </div>


{#                          <tr>#}
{#                            <td><a href="{{ path('_ctp_example_order', {'orderId': order.getId}) }}">{{ order.id }} </a> </td>#}
{#                            <td>{{ order.getCreatedAt.getDateTime|date("m/d/Y H:i") }}</td>#}
{#                            <td>{{ order.getTotalPrice }} </td>#}
{#                            <td>#}
{#                              {% for transition in workflow_transitions(order) %}#}
{#                                <a href="{{ path('_ctp_example_order_' ~ transition.name, {'orderId': order.getId}) }}">{{ transition.name }}</a>#}
{#                              {% else %}#}
{#                                No actions available.#}
{#                              {% endfor %}#}
{#                            </td>#}
{#                          </tr>#}

                        {% else %}
                          <div class="col-sm-12 text-center">
                            <span>There are no orders yet, go ahead and buy something!</span>
                          </div>
                        {% endif %}

                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# {{> common/wishlist}} #}
  {% include '@Example/partials/common/footer.html.twig' %}
  {% include '@Example/partials/common/htmlscripts.html.twig' %}
</body>

</html>
