<!DOCTYPE html>
<html lang="en">

<head>
  {% include '@Example/partials/common/htmlhead.html.twig' %}
</head>

<body>
  <div class="darkbg hidden"></div>
  {% include '@Example/partials/common/header.html.twig' %}
  <div class="my-account">
    <div class="container">
      {% include '@Example/partials/common/messages.html.twig' %}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{ 'myAccount.title'|trans([], 'my-account') }}</span>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="my-account-content">
            <div class="row">
              <div class="col-sm-3">
                {% include '@Example/partials/myaccount/my-account-sidebar.html.twig' with {'changeMyPasswordTab':true} %}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="change-password">
                  <div class="change-password-wrapper">
                    <div class="personal-details-title">
                      <span>{{ 'changePassword.changePasswordTitle'|trans([], 'my-account') }}</span>
                      <span class="pull-right required-text">{{ 'form.required'|trans([], 'main') }}*</span>
                    </div>
                    <form id="form-change-password" action="{{ root.meta._links.changePassword.href }}" method="POST">
                      <input type="hidden" name="csrfToken" value="{{ csrf_token('csrfToken') }}"/>
                      <div class="row">
                        {% include '@Example/partials/form/global-messages.html.twig' with {'messages':content.changePasswordForm.messages} %}
                        {% include '@Example/partials/form/global-errors.html.twig' with {'errors':content.changePasswordForm.errors} %}
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{ 'changePassword.oldPasswordLabelTxt'|trans([], 'my-account') }}*</span><br>
                            <input name="oldPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{ 'changePassword.newPasswordLabelTxt'|trans([], 'my-account') }}*</span><br>
                            <input name="newPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-sections">
                            <span class="form-labels">{{ 'changePassword.confirmPasswordLabelTxt'|trans([], 'my-account') }}*</span><br>
                            <input name="repeatPassword" class="form-inputs" type="password">
                          </div>
                        </div>
                      </div>
                      <hr class="light-grey-hr">
                      <div class="personal-details-edit-btn">
                        <span>
                          <button type="submit" class="update-btn password-change-btn">
                            {{ 'changePassword.changeBtn'|trans([], 'my-account') }}
                          </button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="my-account-banners">
            <div class="banner-one-wrapper hidden-xs">
              <div class="my-account-banner">
                <div class="banner-title">
                  {{ 'personalDetails.bannerOne.title'|trans([], 'my-account') }}
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  {{ 'personalDetails.bannerOne.subtitle'|trans([], 'my-account') }}
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="{{ content.bannerOne.url }}">{{ 'personalDetails.shopAllBtn'|trans([], 'my-account') }}</a>
                </div>
              </div>
            </div>
            <div class="banner-two-wrapper">
              <div class="my-account-banner image-banner">
                <div class="banner-title">
                  {{ 'personalDetails.bannerTwo.title'|trans([], 'my-account') }}
                </div>
                <hr class="banner-hr">
                <div class="banner-subtitle">
                  {{ 'personalDetails.bannerTwo.subtitle'|trans([], 'my-account') }}
                </div>
                <div class="banner-btn-wrapper">
                  <a class="banner-btn" href="{{ content.bannerTwo.url }}">{{ 'personalDetails.shopAllBtn'|trans([], 'my-account') }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# {{> common/wishlist}} #}
  {% include '@Example/partials/common/footer.html.twig' %}
  {% include '@Example/partials/common/htmlscripts.html.twig' %}
</body>

</html>
