<!DOCTYPE html>
<html lang="en">

<head>
  {% include '@Example/partials/common/htmlhead.html.twig' %}
</head>

<body>
  <div class="darkbg hidden"></div>
  {% include '@Example/partials/common/header.html.twig' %}
  <div class="address-book">
    <div class="container">
      {% include '@Example/partials/common/messages.html.twig' %}
      <div class="my-account-title">
        <span class="my-account-title-text icon-user">{{ 'myAccount.title'|trans([], 'my-account') }}</span>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <div class="address-book-wrapper">
            <div class="row">
              <div class="col-sm-3">
                {% include '@Example/partials/myaccount/my-account-sidebar.html.twig' with {'myAddressBookTab':true} %}
              </div>
              <div id="my-account-desktop-content" class="col-sm-9">
                <div class="address-book-content">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="address-book-title hidden-xs">
                        {{ 'addressBook.title'|trans([], 'my-account') }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        {{ 'addressBook.defaultAddresses.title'|trans([], 'my-account') }}
                      </div>
                      {% if customer.defaultShippingAddressId %}
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">{{ 'addressBook.shippingAddress.title'|trans([], 'my-account') }}</div>
                        {% include '@Example/partials/myaccount/my-address-book-address.html.twig' with {'addressInfo': customer.defaultShippingAddress} %}
                      </div>
                      {% endif %}
                      {% if customer.defaultBillingAddressId %}
                      <div class="address-book-dark-box">
                        <div class="address-book-dark-box-title">{{ 'addressBook.billingAddress.title'|trans([], 'my-account') }}</div>
                        {% include '@Example/partials/myaccount/my-address-book-address.html.twig' with {'addressInfo': customer.defaultBillingAddress} %}
                      </div>
                      {% endif %}
                    </div>
                    <div class="col-sm-6">
                      <div class="box-addresses-title">
                        {{ 'addressBook.additionalAddress.title'|trans([], 'my-account') }}
                      </div>
                      {% for address in customer.addresses %}
                      <div class="address-book-white-box">
                        {% include '@Example/partials/myaccount/my-address-book-address.html.twig' with {'addressInfo':address} %}
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="add-new-address-btn">
                        <a href="{{ path('_ctp_example_user_address_new') }}">{{ 'addressBook.buttons.addNewAddress'|trans([], 'my-account') }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {# {{> common/wishlist}} #}
  {% include '@Example/partials/common/footer.html.twig' %}
  {% include '@Example/partials/common/htmlscripts.html.twig' %}
</body>

</html>
